//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "~antd/dist/antd.css";
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}